{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<!-- 'form' is used when we want user input; usually followed by input labels etc... -->
<div class = "container mt-4">
<div class="mt-4 p-5 bg-primary text-white rounded">
	<h1 align="center">Login using Strava.</h1>
	<p class="text-center">
		Authenticate using your Strava account.
	</p>
	<div class="text-center">
		<a class="btn btn-lg" href="{{ authorize_url }}" role="button"><img src="/static/ConnectWithStrava.png" border="0" width="262" height="43" /></a>
	</div>
</div>
</div>
{% endblock %}