{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<!-- 'form' is used when we want user input; usually followed by input labels etc... -->
<section class="bg-dark text-light p-5 text-center text-sm-start">
	<div class="container">
		<div class = "d-sm-flex">
			<div>
				<h1> Visualise your <span class="text-warning">Data</span></h1>
				<p class="lead my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="mt-4 p-5 bg-secondary text-white rounded">
			<h1 align="center">Login using <span class="text-warning">Garmin Connect</span></h1>
            {% if error %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>Danger!</strong> Invalid login details! Please try again. 
            </div>
            {% endif %}
            <form action="/{{ usrFullName }}" method="POST">
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
                </div>
                <div class="form-check mb-3">
                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember"> Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
        </div>
	</div>
</section>

{% endblock %}
