{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<!-- 'form' is used when we want user input; usually followed by input labels etc... -->
<section class="bg-dark text-light p-5 text-center text-sm-start">
	<div class="container">
		<div class = "d-sm-flex">
			<div>
				<h1> Visualise your <span class="text-warning">Data</span></h1>
				<p class="lead my-4">This web interface connects to the Strava API to seamlessly retrieve your running data, analyze it in-depth, and present unique, meaningful insights. These insights are then beautifully visualized through an intuitive and user-friendly front-end, helping you better understand your performance, track progress, and achieve your running goals with ease.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="mt-4 p-5 bg-secondary text-white rounded">
			<h1 align="center">Login using <span class="text-warning">Strava.</span></h1>
			<p class="text-center">
				Authenticate using your Strava account.
			</p>
			<div class="text-center">
				<button id="connectStravaBtn" type="button" class="btn btn-warning btn-lg">Connect <b>STRAVA</b></button>
			</div>
		</div>
	</div>
</section>


<!--<div class="bg" style="background-image: url('{{ url_for('static', filename='runningTestImage.jpg') }}'); background-size: cover; background-position: center; height: 100vh;"></div>-->
<script>
    document.getElementById('connectStravaBtn').addEventListener('click', function() {
        window.location.href = '{{ authorize_url }}';
    });
</script>


{% endblock %}
